<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="plugin.id">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.DiagnosaActivity"></activity>
        <activity
            android:name=".Activity.DetailComunityActivity"
            android:label="@string/title_activity_detail_comunity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ComunityActivity" />
        <activity
            android:name=".Activity.DokterActivity"
            android:label="@string/title_activity_doket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.DoctorActivity" />
        <activity
            android:name=".Activity.DetailBuyActivity"
            android:label="@string/title_activity_detail_buy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.BuyAnimalActivity" />
        <activity
            android:name=".Activity.DetailWashSpaActivity"
            android:label="@string/title_activity_detail_wash_spa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.WashSpaActivity" />
        <activity
            android:name=".Activity.DetailPetshopActivity"
            android:label="@string/title_activity_detail_petshop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetailFoodActivity"
            android:label="@string/title_activity_detail_food"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.PetshopActivity" />
        <activity android:name=".Activity.FoodActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ScanQR"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>